.App {
  text-align: center;
}


body{
  background-image: url(https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148917404.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

button{
  width: 30vw;
  height: 7.5vh;
  color: #989ba1;
  background-color: #424853;
}

